<% provide(:title, "About") %>
<%= link_to "Eng", locale:"en" %>
<%= link_to "Vie", locale:"vi" %>
<h1><%= t(".ab") %></h1>
<p>
  <%= link_to "The Ruby on Rails Tutorial",
   "https://www.railstutorial.org/"%> <%= t(".isa")%>
  <%= link_to "book", "https://www.railstutorial.org/book"%>
  <%= t(".and")%> <%=  link_to "screencast series", "http://screencasts.railstutorial.org/"%>
  <%= t(".twdw")%> <%= link_to "Ruby on Rails", "http://rubyonrails.org/"%>
  <%= t(".saftt")%>
</p>