<% provide(:title, "Contact") %>
<%= link_to "Eng", locale:"en" %>
<%= link_to "Vie", locale:"vi" %>
<h1><%= t(".con") %></h1>
<p>
  <%= t(".ctRoR")%> <%= link_to "contact page", "https://www.railstutorial.org/contact"%>
</p>