<% provide(:title, "Home") %>
<%= link_to "Eng", locale:"en" %>
<%= link_to "Vie", locale:"vi" %>
<h1><%= t(".sample") %></h1>
<p>
  <%= t(".tutorial")%> <%= link_to " Ruby on Rails Tutorial sample application.", 
  "https://www.railstutorial.org/"%>
</p>